section {
    max-width: 1920px;
    width: 90%;
    margin: 10vh auto;
    font-family: 'Overpass',sans-serif;
}

.privacy-link {
    color: orange !important;
    text-decoration: none !important;
  }
  
  .privacy-link:hover {
    text-decoration: underline !important;
  }