<app-header></app-header>

<section>
  <h1>{{ "PRIVACY_POLICY.TITLE" | translate }}</h1>
  <p>{{ "PRIVACY_POLICY.LAST_UPDATED" | translate }}</p>
  <p>{{ "PRIVACY_POLICY.INTRO" | translate }}</p>
  <p>{{ "PRIVACY_POLICY.USE_OF_DATA" | translate }}</p>
  <h2>{{ "PRIVACY_POLICY.INTERPRETATION_DEFINITIONS" | translate }}</h2>
  <h3>{{ "PRIVACY_POLICY.INTERPRETATION" | translate }}</h3>
  <p>{{ "PRIVACY_POLICY.DEFINITIONS_INTRO" | translate }}</p>
  <h3>{{ "PRIVACY_POLICY.DEFINITIONS" | translate }}</h3>
  <p>{{ "PRIVACY_POLICY.DEFINITIONS_INTRO" | translate }}</p>
  <ul>
    <li>
      <p>
        <strong>{{
          "PRIVACY_POLICY.DEFINITIONS_LIST.ACCOUNT" | translate
        }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{
          "PRIVACY_POLICY.DEFINITIONS_LIST.AFFILIATE" | translate
        }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{
          "PRIVACY_POLICY.DEFINITIONS_LIST.COMPANY" | translate
        }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{
          "PRIVACY_POLICY.DEFINITIONS_LIST.COOKIES" | translate
        }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{
          "PRIVACY_POLICY.DEFINITIONS_LIST.COUNTRY" | translate
        }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{
          "PRIVACY_POLICY.DEFINITIONS_LIST.DEVICE" | translate
        }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{
          "PRIVACY_POLICY.DEFINITIONS_LIST.PERSONAL_DATA" | translate
        }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{
          "PRIVACY_POLICY.DEFINITIONS_LIST.SERVICE" | translate
        }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{
          "PRIVACY_POLICY.DEFINITIONS_LIST.SERVICE_PROVIDER" | translate
        }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{
          "PRIVACY_POLICY.DEFINITIONS_LIST.THIRD_PARTY_SOCIAL_MEDIA_SERVICE"
            | translate
        }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{
          "PRIVACY_POLICY.DEFINITIONS_LIST.USAGE_DATA" | translate
        }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{
          "PRIVACY_POLICY.DEFINITIONS_LIST.WEBSITE" | translate
        }}</strong>
      </p>
    </li>
    <li>
      <p>
        <strong>{{ "PRIVACY_POLICY.DEFINITIONS_LIST.YOU" | translate }}</strong>
      </p>
    </li>
  </ul>
</section>
