section{
    margin: auto;
    width: 90%;
    height: 70vh;
}

.about-me-container  {
    display: flex;
    width: 100%;
    gap: 28px;
}

div {
    >img {
        border-radius: 10px;
    }
}

h1 {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 64px;
    margin-block-start: 0em;
}