<section>
  <span><h1>About me</h1></span>
  <div class="about-me-container">
    <div class="about-me">
      <span
        >I am a Front-end developer based in Stuttgart, Germany. I enjoy helping
        designers and companies bring their ideas into real life. I am looking
        forward to continuing my developer career with a job in a junior web
        developer position. If you think I'd be a good match for your projects,
        contact me!</span
      >
      <div class="lets-talk-btn"><a href="">Let's talk</a></div>
    </div>
    <div class="about-me-img">
      <img src="./assets/img/bild1.png" alt="" />
    </div>
  </div>
  <app-navarrow></app-navarrow>
</section>

