<section>
  <span><h1>About me</h1></span>
  <div class="about-me-container">
    <div class="about-me">
      <span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quasi
        aspernatur voluptatem voluptas maiores eveniet odit enim, debitis, totam
        natus consectetur, vero accusamus aperiam ad tempore deleniti architecto
        soluta optio?</span
      >
      <div class="lets-talk-btn"><a href="">Let's talk</a></div>
    </div>
    <div class="about-me-img">
        <img src="./../../assets/img/bild1.png" alt="" />
    </div>
  </div>
</section>
