header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #fffcf3 !important;
  max-width: 1920px;
  width: 90%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > div {
    > .logo {
      height: 64px;
    }
  }
}

.overlay {
  width: 100%;
  position: absolute;
  top: 8vh;
  left: 0;
  right: 0;
  background-color: #fffcf3;
  height: 100%;
  
}

.no-scroll {
  overflow: hidden !important;
  height: 100%;
}

nav {
  font-family: "Syne", sans-serif;
  width: 100%;
  height: 92vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 26px;
  > span {
    text-align: center;
    position: relative; 
    > a {
      width: 24vw;
      font-size: 5vw;
      gap: 200px;
      cursor: pointer;
      position: relative; 
      display: inline-block;
      padding-bottom: 5px;
      padding-left: 5px; 
      text-decoration: none;
    }

    > a::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 20%; 
      height: 3px; 
      background: black; 
      transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    > a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 3px; 
      height: 50%; 
      background: black; 
      transition: height 0.3s ease-in-out; 
    }

    > a:hover::before {
      width: 50%; 
      left: 50%; 
    }

    > a:hover::after {
      height: 0; 
    }
  }
}

.burger-menu {
  > img {
    width: 32px;
    cursor: pointer;
  }
  > img:hover {
    transform: scale(1.05);
    transition: ease-in-out 300ms;
  }
}

.say-hi {
  width: 100vw;
  color: white;
  background: black;
  transform: skewY(+5deg);
  transform-origin: top left;
  height: 100%;

  > div {
    transform: skewY(-5deg);
    transform-origin: top left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
    max-width: 1920px;
    height: 100%;
  }
}

h4,
h2 {
  cursor: pointer;
  margin-block-start: 0;
  margin-block-end: 0;
}

h4:hover,
h2:hover {
  cursor: pointer;
  color: #ff9900;
  transform: scale(1.05);
  transition: ease-in-out 300ms;
}
h2 {
  font-size: 52px;
}


.links {
  > a {
    > img {
      transition: transform 0.3s ease-in-out;
    }
  }
}

.links {
  > a {
    > img:hover {
      transform: translateY(-10px);
    }
  }
}
