<header class="container">
  <div><img class="logo" src="./../../../assets/img/logo.png" alt="Logo" /></div>

  <div class="burger-menu" (click)="toggleMenu()">
    <img [src]="getCurrentFrame()" alt="Burger Menu" />
  </div>
  <div class="overlay" [class.active]="menuActive" [class.inactive]="!menuActive">
    <nav>
      <span>
        <a routerLink="/about-me">About Me</a>
      </span>
      <span>
        <a routerLink="/my-skills">My Skills</a>
      </span>
      <span>
        <a routerLink="/projects">Projects</a>
      </span>
    </nav>
  </div>
</header>