header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #fffcf3 !important;
  max-width: 1920px;
  width: 90%;
  height: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > div {
    > .logo {
      height: 5vw;
    }
  }
}

.overlay {
  display: none;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.overlay.active {
  display: flex;
  z-index: 9999;
  height: 92vh;
  position: absolute;
  top: 8vw;
  left: 0;
  right: 0;
  background-color: #fffcf3;
  animation: slideDown 0.5s forwards;
}

nav {
  font-family: "Syne", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 5%;
  > span {
    > a {
      font-size: 6vw;
      gap: 200px;
      cursor: pointer;
    }
  }
}

.burger-menu {
  > img {
    width: 3vw;
    cursor: pointer;
  }
  > img:hover {
    transform: scale(1.05);
    transition: ease-in-out 300ms;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
