@import "./../../assets/styles/variables";
@import "./../../assets/styles/mixins";

h1 {
  font-family: "Syne", sans-serif;
  font-weight: 800;
  font-size: 64px;
}

h1:hover {
  color: $orange;
}

section {
  font-size: 20px;
  margin: auto auto 50px;
  width: 80%;
  max-width: 1920px;
  font-family: "Overpass", sans-serif;
  text-align: center;
  > div {
    margin-top: 100px;
    width: 100%;
  }
}

.portfolio-img {
  
  position: relative;
  flex: 1;
  @include dFlex();
}

.portfolio-img a {
  display: block;
  @include widthHeight($w:100%, $h:100%);
}

.portfolio-img img {
  border-radius: 5px;
  @include widthHeight($w:100%, $h:100%);
  max-height: 400px;
  object-fit: cover;
  filter: grayscale(65%);
  transition: filter 0.5s ease;
}

.portfolio-img img:hover {
  filter: grayscale(0%);
}

.portfolio-img::before {
  content: "";
  position: absolute;
  border: 5px solid black;
  max-height: 400px;
  @include widthHeight($w:100%, $h:100%);
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  transform: translate(0, 0);
  box-sizing: border-box;
}

.portfolio-img:hover::before {
  opacity: 0.8;
  transform: translate(20px, -20px);
}

.portfolio-container.reverse .portfolio-img:hover::before {
  opacity: 0.8;
  transform: translate(-20px, -20px);
}

.portfolio-container {
  flex-direction: row;
  @include dFlex($ai:stretch, $g: 50px);
  margin-bottom: 100px;
}

.portfolio-container.reverse {
  flex-direction: row-reverse;
}

.desc {
  flex: 1;
  @include dFlex();
  flex-direction: column;
  padding: 10px;
}

h2,
h3 {
  margin: 10px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 28px;
  color: $orange;
}