@import "./../../assets/styles/variables";
@import "./../../assets/styles/mixins";

h1 {
  font-family: "Syne", sans-serif;
  font-weight: 800;
  font-size: 64px;
}

h1:hover {
    color: $orange;
  }
  

section {
  font-size: 20px;
  margin: auto auto 50px;
  width: 90%;
  max-width: 1920px;
  font-family: "Overpass", sans-serif;
  > div {
    @include dFlex();
    flex-direction: column;
  }
}
