<app-nav-arrow-mirrored></app-nav-arrow-mirrored>
<section>
  <div>
    <h1>Portfolio</h1>
    <span>
      Explore a selection of my work here - interact <br />
      with projects to see my skills in action
    </span>
  </div>

  <div>
    @for (project of projects; track $index) {
      <div class="portfolio-container {{ $index % 2 == 1 ? 'reverse' : '' }}">
        <div class="portfolio-img">
          <img src="{{ project.img }}" alt="" />
        </div>
        <div class="desc">
          <div>
            <h2>{{ project.title }}</h2>
            <h3>{{ project.languages }}</h3>
            <p>
              {{ project.description }}
            </p>
          </div>
        </div>
      </div>
    }
  </div>
</section>