div {
  display: flex;
  margin: auto;
  justify-content: end;
  width: 75%;
  position: relative;
  height: 200px;
}

.arrow {
  width: 120px;
  height: 120px;
  background-image: url('./../../../assets/img/nav-arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;

  right: 170px;
  transform-origin: top right;
  animation: none;
  cursor: pointer;
}

@keyframes growAndChange {
  0% {
    transform: translate(0, 0);
    background-image: url('./../../../assets/img/nav-arrow.png');
  }
  50% {
    transform: translate(-60px, 60px);
    background-image: url('./../../../assets/img/nav-arrow2.png');
  }
  100% {
    transform: translate(-60px, 60px);
    background-image: url('./../../../assets/img/nav-arrow.png');
  }
}

.animate {
  animation: growAndChange 2s forwards;
}