<section class="container">
  <div class="headline">
    <h1>
      Frontend <br />
      Developer
    </h1>
  </div>
  <div class="name-line">
    <div class="line"></div>
    <span><h3>Okan Kaplan</h3></span>
  </div>
  <div class="font-overpass under-section">
    <span class="email">contact&#64;okan-kaplan.de</span>
    <div>
      <a href="#aboutMe">
        <div class="scroll-down" id="scroll-down">
          <img
            src="./assets/img/scrolldown1.png"
            alt="Scroll Down"
            id="scroll-img"
            class="animate"
          />
        </div>

        <span class="font-size-32">
          Scroll <br />
          Down
        </span>
      </a>
    </div>
  </div>
</section>
