body {
    height: 100vh;
    margin: 0; 
    background-color: #fffcf3;
  }

section {
  display: flex;
  flex-direction: column;
  margin: auto;
  
  > h1 {
    font-size: 8vw;
    font-weight: 800;
    font-family: "Syne";
    text-align: center;
    margin-bottom: 0;
  }
  >div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    >.line{
        height: 0.2vh;
        width: 50%;
        background-color: black;
        margin-top: 0px;
    }
  }
}


h3 {
  font-size: 4vw;
  font-weight: 700;
  font-family: "Syne";
  color: #ff9900;
  margin-top: 0px;
  margin-bottom: 0px;
}

.under-section {
    justify-content: space-between !important;
    font-size: 1.5vw;
    margin-top: 0;
}

.email{
    transform: rotate(-90deg);
}

.scroll-down{
    text-align: center;
    display: flex;
    flex-direction: column;
    >img {
        height: 10vh;
    }
}
