<footer>
    <div class="container">
      <span><h1>Say Hi!</h1></span>
      <div class="contact">
        <app-contactform></app-contactform>
      </div>
      <div class="under-section">
        <div class="logo-Left">
          <div class="logo">
            <!-- <img src="./assets/img/white-logo.png" alt="Logo" /> -->
          </div>
          <span class="name-copyright">
            <h3> <img class="copyright" src="./assets/img/copyright.png" alt=""> Okan Kaplan 2024</h3>
          </span>
        </div>
        <div class="links">
          <a href="https://github.com/okankpl/" target="_blank">
            <img src="./assets/img/github.png" alt="GitHub" />
          </a>
          <a href="mailto:okan149@gmail.com" target="_blank">
            <img src="./assets/img/email.png" alt="E-Mail" />
          </a>
          <a href="https://www.linkedin.com/in/okan-kaplan-11b50a27b/" target="_blank">
            <img src="./assets/img/linkedin.png" alt="LinkedIn" />
          </a>
        </div>
        
      </div>
      <span class="legal-notice"><a href="">Legal notice</a></span>
    </div>
  </footer>

