<footer>
  <div class="container">
    <span><h1>{{ 'FOOTER.SAY_HI' | translate }}</h1></span>
    <div class="contact">
      <app-contactform id="contact"></app-contactform>
    </div>
    <div class="under-section">
      <div class="logo-Left">
        <span class="name-copyright">
          <h3> 
            <img class="copyright" src="./assets/img/copyright.png" alt=""> 
            {{ 'FOOTER.COPYRIGHT' | translate }}
          </h3>
        </span>
      </div>
      <div class="links">
        <a href="https://github.com/okankpl/" target="_blank">
          <img src="./assets/img/github.png" alt="GitHub" />
        </a>
        <a href="mailto:okan149@gmail.com" target="_blank">
          <img src="./assets/img/email.png" alt="E-Mail" />
        </a>
        <a href="https://www.linkedin.com/in/okan-kaplan/" target="_blank">
          <img src="./assets/img/linkedin.png" alt="LinkedIn" />
        </a>
      </div>
    </div>
    <span class="legal-notice"><a href="imprint">{{ 'FOOTER.LEGAL_NOTICE' | translate }}</a></span>
  </div>
</footer>