@import "./../../../assets/styles/variables.scss";
@import "./../../../assets/styles/mixins.scss";

footer {
  font-family: "Syne", sans-serif;
  color: white;
  background-color: black;
  overflow: hidden !important;
  position: relative;
  transform-origin: top left;
  @include dFlex();
  flex-direction: column;
}

.container {
  position: relative;
  z-index: 2;
  background-color: black !important;
  @include widthHeight($h: 100%, $w: 90%);
  display: flex;
  flex-direction: column;
  max-width: 1920px;
}

.logo,
.logo img {
  width: 64px;
}

.links {
  display: flex;
  gap: 20px;
  > a {
    > img {
      height: 32px;
      transition: transform 0.3s ease-in-out;
    }
    > img:hover {
      transform: translateY(-10px);
    }
  }
}

.under-section {
  @include dFlex($jc: space-between);
  margin-bottom: 10px;
}

h4,
h2,
h3,
h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  &:hover {
    color: $orange;
    transition: ease-in-out 300ms;
  }
}

h1{
  font-size: 50px;
}

h2 {
  font-size: 52px;
}

.copyright {
  height: 12px;
}


.legal-notice {
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
  >a{
    text-decoration: none;
    color: white;
  }
  >a:hover {
    color:$orange;
  }
}
